<h1>Home</h1>

<p><a href="/contact">Contact</a></p>

<p><a href="/inlineconstrainttest/1">Inline route constaint test 1</a></p>

<p><a href="/inlineconstrainttest/101">Inline route constaint test 2</a></p>

<p><a href="/multipleroutestest1">Multiple routes test 1</a></p>

<p><a href="/multipleroutestest2">Multiple routes test 2</a></p>