<h1>Contact</h1>

<form method="post">
    <label for="FirstName">First name:</label><br />
    <input type="text" name="FirstName" /><br />
    <label for="LastName">Last name:</label><br />
    <input type="text" name="LastName" /><br />
    <input type="submit" value="Send" />
</form>